.card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__image:hover {
  cursor: pointer;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  background: transparent url(../images/Like\ Icon.svg) center/contain no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
}

.card__like-button_active {
  background-image: url(../images/liked-active.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_active:hover {
  background-image: url(../images/liked-active.svg);
  opacity: 0.4;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/delete-icon.svg) center/contain no-repeat;
  border-style: none;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 235px;
  }

  .card {
    max-width: 288px;
  }
}
