
.card__image{
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card__title{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button{
    background-image: url(../images/Like\ Icon.svg);
    background: contain center no-repeat transparent;
    width: 23px;
    height: 20px;
    border: none;
    opacity: 40%;
    
}

.card__like-button:hover{
    opacity: 100%;
    cursor: pointer;
}

.card__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 627px){
.card__image{
    height: 288px;

}

.card__title{ 
    font-size: 16px;
    margin: 12px 0 2px;
    max-width: 235px;
}

.card{
    max-width: 288px;
}
}