.content{
    padding-bottom: 40px;
    margin: 0 80px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

@media screen and (max-width: 627px){
    .content{
        padding-bottom: 20px;
        margin: 0 16px;
    }
}