.modal {
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  transform: scale(0.95);
  transition: 
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s; 
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
  transform: scale(1);
}

.modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
}

.modal__close-btn {
    background-image: url(../images/Close-Icon.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 32px;
    right: 50px;
    border-style: none;
    background-color: transparent;
    padding: 0;
}

.modal__title {
    margin: 0 0 32px;
    font-size: 32px;
    font-weight: 500;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.profile__name-input {
    margin: 0 0 32px;
    font-size: 16px;
    font-weight: 500;
    color: #212121B2;
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.profile__description-input {
    margin: 0 0 32px;
    font-size: 16px;
    font-weight: 500;
    color: #212121B2;
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


.modal__input {
    display: block;
    margin: 8px 0 0;
    width: 100% ;
    padding: 16px 12px;
    border: 1px solid;
    border-radius: 8px;
    color: #212121;
    font-size: 20px;
    font-weight: 500;
      display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
}

.modal__input::placeholder {
    color: #212121;
}

.modal__submit-btn {
    max-width: 156px;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    padding: 18px 32px;
    background-color: #212121;
    color: #FCF5E5;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 627px){
    .modal__submit-btn{
        align-items: center;
        max-width: none;
        width: 100%
    }
    .modal__input{
        font-size: 16px;
    }
    .modal__title{
        font-size: 20px;
        margin-bottom: 24px;
        padding: 10px 0;
    }
    .modal__label{
        font-size: 16px;
        margin-bottom: 24px;
    }
    .modal__container{
        max-width:none;
        width:100%;
        margin: 0 10px;
        padding: 12px;
    }
    .modal__close-btn{
    top:12px;
    right: 12px;
    padding: 0
    }
}