.profile {
    display: flex;
padding: 34px 0 20px;
border-bottom: 1px rgba(33, 33, 33, .4) solid;
}

.profile__post-button {
display: flex;
margin-left: auto;
width: 149px;
height: 52px;
border-radius: 8px;
border-style: none;
background-color: #212121;
font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
color: #fcf5e5;
align-self: flex-end;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0;
}

.profile__avatar{
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column{
    display: flex;
    flex-direction: column;
}

.profile__edit-btn{
    margin-top: auto;
    border: none;
    background-color: transparent;
    color: rgba(33, 33, 33, 1);
    display: flex;
    gap: 8px;
    padding: 0;
    font-weight: 500;
}

.profile__name{
    margin: 0 0 12px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
}

.profile__description{
    margin: 0;
    color: rgba(33, 33, 33, 0.7);
    font-weight: 500;
}

@media  screen and (max-width:627px) {
    .profile{
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center; 
       }

    .profile__avatar{
        margin-right: 0;
        height: 80px;
        width: 80px;
        padding-top: 20px;
    }

    .profile__post-button{
        margin: 0 0 20px;
        align-self: center;
        width: 100%;
    }
    
    .profile__edit-btn{
        display: flex;
    justify-content: center;
margin: 32px 0 0}

.profile__name{
    font-size: 20px;
    margin: 12px 0 6px ;
}

.profile{
    padding: 0;
}

.profile__column{
    margin-bottom: 20px;
}
}